@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #050505;
}

div[tabindex="0"]:focus-visible {
  outline: 2px solid white;
  outline-offset: -2px;
}
